Maahi Sadrani
25070123069

In [4]:
#Experiment 2:
#Study of list in python

list1=["Apple","Banana","Orange"]
print(list1)
list2 = [2,2.3,"maahi",True]
print(list2)
list3=["apple","orange","apple","cherry"]
print(list3)

['Apple', 'Banana', 'Orange']
[2, 2.3, 'maahi', True]
['apple', 'orange', 'apple', 'cherry']

In [8]:
list4=["apple","banana","orange","cherry","mango","kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

orange
orange
['orange', 'cherry', 'mango']
['apple', 'banana', 'orange', 'cherry']
['orange', 'cherry', 'mango', 'kiwi']

In [9]:
list5=["apple","orange","banana"]
list5[1]=2
print(list5)

['apple', 2, 'banana']

In [10]:
list6=["apple","orange","cherry"]
list6.append("mango")
print(list6)

['apple', 'orange', 'cherry', 'mango']

In [11]:
list7 = ["apple","banana","orange"]
list7.insert(1,"mango")
print(list7)

['apple', 'mango', 'banana', 'orange']

In [12]:
list8=["apple","banana","orange"]
list9=["kiwi","mango"]
list8.extend(list9)
print(list8)

['apple', 'banana', 'orange', 'kiwi', 'mango']

In [24]:
marks=[90,82,66,76,33]
print(max(marks))
print(min(marks))
print(len(marks))
print(sum(marks))
print(sum(marks)/len(marks))
print(sorted(marks))
marks.sort()
print(marks)

90
33
5
347
69.4
[33, 66, 76, 82, 90]
[33, 66, 76, 82, 90]

In [28]:
groclist = ["Milk","Egg","Cheese","Butter","Juice"]
groclist.insert(1,"Coffee")
groclist.remove("Milk")
groclist.remove("Cheese")
print(groclist)

['Coffee', 'Egg', 'Butter', 'Juice']